<mat-drawer-container *ngIf="!loading">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="date_start">
        <th mat-header-cell *matHeaderCellDef>Date de début</th>
        <td mat-cell *matCellDef="let element">{{ element.date_start }}</td>
      </ng-container>

      <ng-container matColumnDef="date_end">
        <th mat-header-cell *matHeaderCellDef>Date de fin</th>
        <td mat-cell *matCellDef="let element">{{ element.date_end }}</td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let element">
          {{ getStringType(element.type) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="reason">
        <th mat-header-cell *matHeaderCellDef>Motif</th>
        <td mat-cell *matCellDef="let element">{{ element.reason }}</td>
      </ng-container>

      <ng-container matColumnDef="employee">
        <th mat-header-cell *matHeaderCellDef>Statut</th>
        <td mat-cell *matCellDef="let element">
          {{element.user.firstname}} {{element.user.lastname}}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon class="icon icon-success" (click)="confirm(element.id, 'CONFIRM', 'Êtes-vous sûr de vouloir de confirmer la demande d\'absence ?')">done</mat-icon>
          <mat-icon class="icon icon-danger" (click)="confirm(element.id, 'DECLINE', 'Êtes-vous sûr de vouloir de rejeter la demande d\'absence ?')">close</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 50]"
      showFirstLastButtons
    ></mat-paginator>
  </div>

  <mat-drawer #drawer class="example-sidenav" mode="side" position="end">
  </mat-drawer>
</mat-drawer-container>
