div.calendar {
  display: flex;
  justify-content: center;
}

full-calendar {
  height: 700px;
  width: 80%;
}

.balance {
  border: solid 1px;
  width: fit-content;
  padding: 5px;
  margin-left: 10%;
  margin-top: 1%;
}
