.button {
  display: flex;
  justify-content: flex-end;
  margin-right: 10%;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  width: 80%;
}

.balance {
  border: solid 1px;
  width: fit-content;
  padding: 5px;
  margin-left: 10%;
  margin-top: 1%;
}
