<mat-toolbar *ngIf="user">

  <!-- Admin navbar -->
  <!-- <mat-button-toggle-group name="navbar" aria-label="Navbar">
    <mat-button-toggle value="Jours fériés">Jours fériés</mat-button-toggle>
    <mat-button-toggle value="RTT employeurs">RTT employeurs</mat-button-toggle>
    <mat-button-toggle value="Utilisateurs">Utilisateurs</mat-button-toggle>
  </mat-button-toggle-group> -->

  <!-- Manager navbar -->
  <mat-button-toggle-group name="navbar" aria-label="Navbar">
    <mat-button-toggle value="Planning absences générales" *ngIf="user.is_admin || user.department">Planning absences générales</mat-button-toggle>
    <mat-button-toggle value="Planning mes absences">Planning mes absences</mat-button-toggle>
    <mat-button-toggle value="Gestion des absences" routerLink="/absence">Gestion des absences</mat-button-toggle>
    <mat-button-toggle value="Validation demandes" routerLink="/management" *ngIf="user.department">Validation demandes</mat-button-toggle>
    <mat-button-toggle value="Vues synthétiques" *ngIf="user.department">Vues synthétiques</mat-button-toggle>
    <mat-button-toggle value="Jours fériés" *ngIf="user.is_admin" routerLink="/employer_rtt">Jours fériés / RTT</mat-button-toggle>
  </mat-button-toggle-group>


  <!-- Employee navbar -->
  <!-- <mat-button-toggle-group name="navbar" aria-label="Navbar">
    <mat-button-toggle value="Planning des absences">Planning des absences</mat-button-toggle>
    <mat-button-toggle value="Gestion des absences">Gestion des absences</mat-button-toggle>
    <mat-button-toggle value="Jours fériés">Jours fériés</mat-button-toggle>
  </mat-button-toggle-group> -->

  <span class="example-spacer"></span>

  <div class="nameAndLogout">
    <div>Bonjour </div>
    <div>{{ user.firstname }} {{ user.lastname }}</div>
    <div class="logout" (click)="logout()">Se déconnecter</div>
  </div>
</mat-toolbar>
